.add-revision-item-form {
  width: 35%;
  padding: 1rem;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: 1px solid rgb(64, 64, 64);
  border-radius: 5px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
}

.input-container {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}
