.list-cars {
  background-color: red;
}

/* Estilo para a tabela */
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* Estilo para as células da tabela */
td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

/* Estilo para as células da primeira linha (cabeçalho) */
th {
  background-color: #555;
  color: #fff !important;
}

/* Estilo para as células das linhas ímpares */
tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Estilo para os botões de ação */
button {
  background-color: greenyellow; /* Verde */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilo para o botão de detalhes */
button.detalhes {
  background-color: #008cba !important; /* Azul */
}

/* Estilo para o botão de edição */
button.editar {
  background-color: seagreen !important; /* Amarelo */
}

/* Estilo para o botão de exclusão */
button.excluir {
  background-color: skyblue !important; /* Vermelho */
}