{% extends "base.html" %} {% block content %}
<script src="/js/car.js"></script>

<div class="content">
  <h1>Lista de carros:</h1>

  <table>
    <thead>
      <tr>
        <th>Modelo do carro</th>
        <th>Ano do carro</th>
        <th>Marca do carro</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      {% for car in cars %}
      <tr>
        <td>{{ car.model }}</td>
        <td>{{ car.year }}</td>
        <td>{{ car.brand }}</td>
        <td>
          <button>Detalhes</button>
          <button class="editar">Editar</button>
          <button onclick="deleteCar({{ car.id }})" class="excluir">
            Excluir
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
