{% extends "base.html" %} {% block content %}
<div class="revision-container">
    <h1 class="revision__title">Detalhes do carro</h1>
    <div class="resion__information">
        <span class="bold">
      Modelo:
      <span class="ligthin"> {{car.model}} </span>
        </span>
        <span class="bold">
      Marca:
      <span class="ligthin"> {{car.brand}} </span>
        </span>
        <span class="bold">
      Ano:
      <span class="ligthin"> {{car.year}} </span>
        </span>
        <span class="bold">
      Última revisão:
      <span class="ligthin"> {{car.last-revision.last_revision_date}}</span>
        </span>
        <span class="bold">
      Última quilometragem:
      <span class="ligthin"> {{car.last-revision.km}} km</span>
        </span>
    </div>

    <br />
    <br /> {{car}} <br />
    <br />

    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Tempo limite</th>
                <th>Km limite</th>
                <th>Tempo restante</th>
                <th>Trocar em (km)</th>
                <th>Situação</th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
            <tr>
                <td><span>{{item.item}}</span></td>
                <td><span>{{item.limit_date_months}} meses</span></td>
                <td><span>{{item.limit_km}} km</span></td>
                <td><span>tempo restante teste</span></td>
                <td><span>{{item.km_exchange}} km</span></td>
                <td><span>verde</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />
    <div>
        {% for item in items %}
        <h2>Item: {{item.item}}</h2>
        <h2>KM limite: {{item.limit_km}}</h2>
        <h2>Tempo limite: {{item.limit_date_months}}</h2>
        {% endfor %}
    </div>

    <form method="POST" action="/add-revision">
        {% csrf-field %}
        <label for="last-revision-date">Data da última revisão:</label>
        <input type="date" id="last-revision-date" name="last_revision_date" required /><br />

        <label for="km">Quilometragem:</label>
        <input type="number" id="km" name="km" required /><br />

        <input type="hidden" id="id-car" name="id_car" value="{{ car.id }}" />

        <button type="submit">Inserir revisão</button>
    </form>
</div>
{% endblock %}