{% extends "base.html" %} {% block content %}
<h1>Detalhes do carro</h1>
<h2>Modelo: {{car.model}}</h2>
<h2>Marca: {{car.brand}}</h2>
<h2>Ano: {{car.year}}</h2>
<h2>Última revisão: {{car.last-revision.last_revision_date}}</h2>
<h2>Última quilometragem: {{car.last-revision.km}} km</h2>
<form method="POST" action="/add-revision">
    {% csrf-field %}
    <label for="last-revision-date">Data da última revisão:</label>
    <input type="date" id="last-revision-date" name="last_revision_date" required><br>

    <label for="km">Quilometragem:</label>
    <input type="number" id="km" name="km" required><br>

    <input type="hidden" id="id-car" name="id_car" value="{{ car.id }}">

    <button type="submit">Inserir revisão</button>
</form>
{% endblock %}